body{
  padding: 0px;
}

.navbar{
  height: 200px;
  margin-bottom: 0px;
}

.navbar-inner{
  background-color: white;
  background-image: none;
  padding: 30px 40px;
}

.nav-header{
  width: 100%;
  margin: 10px 0px;
}

.nav-header h1{
  font-size: 36px;
  font-weight: 250;
  color: #444;
}

.nav-menu{
  width: 100%;
  font-size: 12px;
  font-weight: bolder;
}

.nav-menu .signup{
  float: right;
  width: auto;
}

.nav-menu .signup a{
  color: #444;
}

.nav-menu ul{
  float: left;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}

.nav-search{
  margin: 0px auto;
  text-align: center;
}

.navbar-search{
  float: none;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
  color: white;
  background-color: #424242;
  border-color: #424242;
}

footer{
  display: block;
}

.navbar-search .search-query {
  width:700px; 
  border-radius:3px;
  margin:10px auto !important;
 }

.navbar-inner1{
  background-color: none;
  background-image: none;
  padding: 30px 40px;
}

.leftblock{
  display: inline-block;
  border-right-style:solid;
  border-right-width:1px;
  width: 30%;
  padding: 10px;
}

.rightblock{
  display: inline-block;
  border-left-style:solid;
  border-left-width:1px;
  width: 30%;
  padding: 10px;
}

.middleblock{
  display: inline-block;
  width: 30%;
  padding: 10px;
}

.foot-text{
  margin-left: 20px;
  margin-right: 20px; 
}

.foot-link{ 
  text-align:center;
}

.navbar-bottom{
  background-color: #D6D6C2;
  min-height:30px;
  margin-top: -20px;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-left: 40px;
} 

.container-new {
  margin-right: 100%;
  margin-left: 100%;
  *zoom: 1;
}

.quote {
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;  

}

.span60{
  width:60%;
  
}

.span30{
  width: 30%;
}

.span40{
  width: 40%;
}
.span75{
  width: 75%;
}

.span20{
  width: 20%;
}
.span10{
  width: 10%;
}

.span80{
  width: 80%;
}

.span15{
  width: 15%;
}
.span15{
  width: 15%;
}
.span50{
  width: 50%;
}
}
.span55{
  width: 55%;
}
.backdefault{
  background-color:  #D6D6C2;
}

.college-box{
  list-style-type: none;
  border: 1px solid;
}
.lpad11{
  padding-left: 11px;
}

.row-college {
    margin-left: -32px;
    padding: 10px;
}
.ul-college{
    padding: 0px;
    margin: 0px 0px 10px 0px;
  }

.img{box-shadow: none;}