<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">


{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">

{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
<link rel="stylesheet" href="{% static "css/styles.css" %}">
<link rel="stylesheet" href="{% static "css/components.css" %}">
<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->
{% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}body{% endblock %}">

<div class="navbar">
  <div class="navbar-inner1">
    <div class="nav-header">
    {% if settings.SITE_TITLE %}<h1>{{ settings.SITE_TITLE }}</h1>{% endif %}
    <!-- <div class="tar"><a href="/advanced">ADVANCED SEARCH</a></div> -->
    {% if settings.SITE_TAGLINE %}<p class="navbar-text">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    </div>
    <div class="nav-menu">
	{% page_menu "pages/menus/dropdown.html" %}
        <div class="signup">
            <a href="#">SIGN IN </a><span class="separator">|</span> <a href="#">SIGN UP</a>
        </div>
    </div>
  </div>
  <div class="nav-search">
    {% search_form  %}
    
  </div>
</div> <!-- navbar -->
{% block navbottom %}{% endblock %}
<div class="container">
{% block container %}{% endblock %}
</div> <!-- container div end -->

<footer>
    <div class="container">
        <div class="foot-text">
            <b>Desclaimer:</b> This website is a sample website. This website is a sample website.This website is a sample website.This website is a sample website.This website is a sample website.This website is a sample website.This website is a sample website.This website is a sample website.
            <hr>
        </div>
        <div class="foot-link">
            <a href="#">GYAANZONE</a><span class="separator">|</span><a href="#">ALL RIGHTS RESERVED</a><span class="separator">|</span><a href="#">TERMS&amp;CONDITIONS</a>
        </div>
    </div>
</footer>

{% include "includes/footer_scripts.html" %}



</body>
</html>