{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block navbottom %}
<div class="navbar-bottom h200 p1">
<div class="hplusplus">
	<b>BENIFITS OF GYAANZONE</b><br><br>
	AMET NEC! HOW ARE YOU GOOD.
</div>
<br><br>
THIS IS A TEST TEXT. THIS HAS TO BE EDITED WHEN UPDATING.<br>
ALL GOES WELL TILL HERE. WHEN UPDATED, THE ORIGINAL TEXT IS DISPLAYED HERE.<br><br>

<a href="/zone/expand" class="btn">MORE</a>

</div>
{% endblock %}
{% block container %}

<div class="leftblock">
	<h1>THE ZONE</h1>
	<ul>
		<li><a href="blog/how-to-create-a-bootable-usb-to-install-os-x/">How to create a bootable USB to install OS X</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
	</ul>


</div>
<div class="middleblock">
	<h1>3978</h1>
    INSTITUTES TO CHOSE FROM

    <h1>1580</h1>
    COURSES TO CHOSE FROM

</div>
<div class="rightblock ">
	<h1>GYAAN NEWS</h1>
	<ul>
		<li><a href="blog/how-to-find-duplicates-in-excel/">How to find duplicates in Excel</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
	</ul>
</div>

<div class="quote">
	"These are word said by someone regarding gyyanzone. Its wonderfull to work with gyaanzone. Looking forward to work with gyaanzone. mezzanine is a wonderful tool to use."
</div>
<div class="tac italic">
	<b>NAME OF THE PERSON</b>,LOCATION,AGE
</div>
{% endblock %}