{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block navbottom %}
<div class="navbar-bottom">
	<div class="bpad40 ">   
	    <a href="/">Home</a> <span class="divider">/</span>
	    THE ZONE
    </div>
</div>

{% endblock %}
{% block container %}

<div class="row">
  <div class="span60">
  	<h1>THE ZONE</h1>
  	<p>"Not Only SQL" generally known as  NoSQL is a database system that provides simple lightweight mechanism for storage and retrieval of data.  NoSQL has become much popular in the last few years. The database arose alongside major Internet companies such as Google, Yahoo, Facebook and Amazon because all these companies has to deal with a large amount of data  and  when a relational database grows out of one server, it is no longer that easy to use. In other words, they don't scale out very well in a distributed system. So all these big sites store the data in distributed systems for several reasons. It could be that the data doesn't fit on one server, or there are requirements for high availability.</p> 

  	<p>MongoDB is an open-source, document-oriented database designed for ease of 
    development and scaling.The main features of MongoDb are flexibility, power, speed,and
	ease of use. A MongoDB deployment hosts a number of databases. A database holds a set of collections. A collection holds a set of documents. A document is a set of key-value pairs. Although MongoDB supports a “standalone” or single-instance operation, production MongoDB deployments are distributed by default. Replica sets provide high performance replication with automated failover, while sharded clusters make it possible to partition large data sets over many machines transparently to the users.
	</p>

	<a><h4>ARTICLE CAN BE GIVEN AS A LINK</h4></a>
	<p>MongoDB is an open-source, document-oriented database designed for ease of 
    development and scaling.The main features of MongoDb are flexibility, power, speed,and
	ease of use. A MongoDB deployment hosts a number of databases. A database holds a set of collections. A collection holds a set of documents. A document is a set of key-value pairs.</p>

	<input class="btn" type="button" value="READ MORE">
	<hr>

	<a><h4>ARTICLE CAN BE GIVEN AS A LINK</h4></a>
	<p>MongoDB is an open-source, document-oriented database designed for ease of 
    development and scaling.The main features of MongoDb are flexibility, power, speed,and
	ease of use. A MongoDB deployment hosts a number of databases. A database holds a set of collections. A collection holds a set of documents. A document is a set of key-value pairs.</p>

	<input class="btn" type="button" value="READ MORE">
	<hr>

	<a><h4>ARTICLE CAN BE GIVEN AS A LINK</h4></a>
	<p>MongoDB is an open-source, document-oriented database designed for ease of 
    development and scaling.The main features of MongoDb are flexibility, power, speed,and
	ease of use. A MongoDB deployment hosts a number of databases. A database holds a set of collections. A collection holds a set of documents. A document is a set of key-value pairs.</p>

	<input class="btn" type="button" value="READ MORE">
	<hr>
	<div class="pagination">
	    <ul>
		    <li><a href="#">&lt;&lt;</a></li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">&gt;&gt;</a></li>
	    </ul>
    </div>
  </div>


  <div class="span30">
  	For any queries contact below:<br><br>
  	info@gyaanzone.com<br><br>
  	91-22-XXXX XXX
  	<hr>
  	<h1>GYAAN NEWS</h1>
	<ul>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
		<li><a href="#">LATEST NEWS can be given as a link</a></li>
	</ul>
	<input class="btn" type="button" value="READ ALL">
	<hr>
	<div class="quote">
	"These are word said by someone regarding gyyanzone. Its wonderfull to work with gyaanzone. Looking forward to work with gyaanzone. mezzanine is a wonderful tool to use."</div>
   
    <div class="tac italic">
	  <b>NAME OF THE PERSON</b>,LOCATION,AGE
    </div>
  </div>
</div>
  
{% endblock %}